﻿@model Colecoes.item

@{
    string actionName = ViewContext.RouteData.Values["action"].ToString().ToLower();
    if (actionName != "delete")
    { ViewBag.Title = "Details"; }
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arquivo.ArquivoCaminho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arquivo.ArquivoCaminho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.colecao.ColecaoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.colecao.ColecaoNome)
        </dd>

    </dl>
</div>

@if (actionName != "delete")
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idItem }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
