﻿@model Colecoes.item
@{
    string actionName = ViewContext.RouteData.Values["action"].ToString().ToLower();
    Dictionary<string, string> caption = new Colecoes.Operacoes.CaptionGeneration().ReadCaptionFile();
}

@using (Html.BeginForm((string)@ViewBag.Title, "Item", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @if (actionName == "edit")
        {
            @Html.HiddenFor(model => model.idItem)
        }
        @if (actionName.Contains("parent"))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.idColecao, caption["idColecao"], htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("idColecao", (IEnumerable<SelectListItem>)ViewBag.ColecaoPai, "Selecione", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idColecao, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.Label(caption["idColecaoPai"], new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("idColecaoPai", (IEnumerable<SelectListItem>)ViewBag.ColecaoPai, "Selecione", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idColecao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.idColecao, caption["idColecao"], htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("idColecao", (IEnumerable<SelectListItem>)ViewBag.Colecao, "Selecione", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idColecao, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.idLocalArquivo, caption["ArquivoCaminho"], htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Arquivo", null, new { @class = "form-control", type = "file" })
                @Html.ValidationMessageFor(model => model.idLocalArquivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(caption["ItemNome"], htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemNome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemNome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(caption["Codigo"], htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(caption["Descricao"], htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(caption["ValorItem"], htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorItem, null, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorItem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $("#Arquivo").on("change", function () {
        var a = "nome";
    })
    var urlpath = "@Url.Action("GetFilhos")";
</script>
<script src="~/Scripts/item.js"></script>