﻿@model IEnumerable<Colecoes.item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arquivo.ArquivoCaminho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.colecao.ColecaoNome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.arquivo.ArquivoCaminho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colecao.ColecaoNome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idItem }) |
            @Html.ActionLink("Details", "Details", new { id=item.idItem }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idItem })
        </td>
    </tr>
}

</table>
