﻿@model Colecoes.colecao

@{
    ViewBag.Title = "Delete";
}


<h3>Deseja excluir o registro?</h3>

@Html.Partial("Details")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationMessage("");

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}