﻿@model Colecoes.colecao

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>colecao</h4>
        <hr />
        @Html.ValidationSummary(true)
        @if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "edit")
        {
            @Html.HiddenFor(model => model.idColecao)
        }

        <div class="form-group">
            @Html.LabelFor(model => model.idColecaoPai, "idColecaoPai", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idColecaoPai", (IEnumerable<SelectListItem>)ViewBag.ColecaoPai, "Selecione", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idColecaoPai)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idTipo, "idTipo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idTipo", (IEnumerable<SelectListItem>)ViewBag.Tipo, "Selecione o Tipo", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idTipo)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.idImagemCapa, "idImagemCapa", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("idImagemCapa", String.Empty)
                    @Html.ValidationMessageFor(model => model.idImagemCapa)
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.ColecaoNome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ColecaoNome)
                @Html.ValidationMessageFor(model => model.ColecaoNome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao)
                @Html.ValidationMessageFor(model => model.Descricao)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

