﻿@model IEnumerable<Colecoes.colecao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ColecaoNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arquivo.ArquivoCaminho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.colecao2.ColecaoNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo.TipoNome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ColecaoNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.arquivo.ArquivoCaminho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colecao2.ColecaoNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo.TipoNome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idColecao }) |
            @Html.ActionLink("Details", "Details", new { id=item.idColecao }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idColecao })
        </td>
    </tr>
}

</table>
