﻿@model Dictionary<string, string>
@{
    ViewBag.Title = "Alterar Nome dos Campos de Exibição";
    int i = 0;
}

<h2 style="margin-bottom:20px">@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @foreach (var item in Model)
        {
            <div class="form-group">
                @Html.Label(item.Key, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox(string.Format("value[{0}]", i), item.Value, new { @class = "form-control" })
                    @Html.Hidden(string.Format("key[{0}]", i), item.Key)
                </div>
            </div>
            i++;
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
