﻿@{
    ViewBag.Title = "Cadastrar Colecao e Item";
}

<h2 style="margin-bottom:20px">@ViewBag.Title</h2>

<span class="alert alert-info" role="alert">Informe a pasta para cadastrar todos os itens automaticamente.</span>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Tipo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idTipo", (IEnumerable<SelectListItem>)ViewBag.Tipo, "Selecione o Tipo", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Informe a Pasta Raíz", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("initialPath", null, new { @required = "required" })
                @Html.ValidationMessage("initialPath", "Campo Obrigatório")
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Extensões aceitas", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("fileExtentions", "", new { PlaceHolder = "Ex: txt. mp3, mp4" })
                <span>Deixe em Branco para considerar todos os arquivos</span>
            </div>
        </div>


        <div class="form-group">
            @Html.Label("Incluir Arquivos da Pasta Raiz", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBox("includeRoot", false)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
