﻿@model Colecoes.tipo
@using System.Web.Mvc
@{
    ViewBag.Title = "Inserir Tipo";
    
}

@Html.Partial("EditForm")


@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
