﻿@model Colecoes.tipo

@{
    string actionName = ViewContext.RouteData.Values["action"].ToString().ToLower();
    if (actionName != "delete")
    { ViewBag.Title = "Details"; }
}
<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoNome)
        </dd>

    </dl>
</div>
@if (actionName != "delete")
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idTipo }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}