﻿@model Colecoes.tipo

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tipo</h4>
        <hr />
        @Html.ValidationSummary(true)
        @if(ViewContext.RouteData.Values["action"].ToString().ToLower() == "edit"){
        @Html.HiddenFor(model=>model.idTipo)
        }
        <div class="form-group">
            @Html.LabelFor(model => model.TipoNome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TipoNome)
                @Html.ValidationMessageFor(model => model.TipoNome)
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@ViewBag.Title" class="btn btn-default" />
            </div>
        </div>
    </div>
}

