﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Colecao", "Index", "Colecao")</li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        Item <span class="caret"></span>
                    </a>
                    <ul class=" dropdown-menu">
                        <li>@Html.ActionLink("Item", "Index", "Item")</li>
                        <li>@Html.ActionLink("Lançar Item", "Create", "Item")</li>
                        <li>@Html.ActionLink("Lançar Item no Pai", "CreateForParent", "Item")</li>
                        <li>@Html.ActionLink("Lançar Itens em Lote", "LancarLoteItem", "Item")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Tipo", "Index", "Tipo")</li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        Opera&ccedil;&otilde;es <span class="caret"></span>
                    </a>
                    <ul class=" dropdown-menu">
                        <li>@Html.ActionLink("Lançar Pasta", "CreateTree", "Operacoes")</li>
                        <li>@Html.ActionLink("Alterar Exibição dos Campos", "AlterarNomeCamposExibicao", "Operacoes")</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

